{% extends "_layout.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="container">
    <div>
        <h1>Welcome to your profile, {{user.username}}</h1>
        <img src="{{user.full_image_path}}" style="height: 500px; width: 500px;"/>   
    </div>

    <form action="{{ url_for('images.upload_user_image', id=user.id) }}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        <label for="user_image">Upload Images</label>
            <br></br>
            <input type="file" name="user_image">
            <br></br>
        <button class="btn btn-primary"type="submit">Upload</button>
    </form>

    <br></br>

    <div style="margin-bottom: 20px;" class="container">
        {% for image in user.images %}
        <div class="card d-flex flex-col" style="width: 300px; margin:10px;">
            <img src="{{image.full_image_path}}" style="height: 200px; width: 200px; margin:10px;"/>
           <a href="{{url_for('donations.new', image_id=image.id)}}"> <button class="btn btn-primary"type="button">Donate</button></a>         
        </div>
        {% endfor %}  
    </div>


</div>

{% endblock %}