{% extends "_layout.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="container">

    <div class="d-flex flex-column align-items-center" style="margin-top:10px;">
        <h1>@{{user.username}}</h1>
        <img src="{{user.full_image_path}}" style="height: 200px; width: 200px; border-radius: 20px;"/>
       
        {% if user.id==current_user.id %}
        <a href="{{url_for('users.edit', id=current_user.id)}}"><button class='btn btn-primary' style="margin-top:10px;" type="button">Edit Profile</button></a>
        <a href="{{url_for('users.show_request')}}"><button class='btn btn-primary' style="margin-top:10px;" type="button">Show Requests</button></a>
        {% else %}
          {% if current_user.follow_status(user) %}
            <form action="{{url_for('users.unfollow', following_id = user.id)}}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <input type="submit" value="Unfollow" class="btn btn-primary" style="margin-top:10px;"/>
            </form>
          {% else %}
          <form action="{{url_for('users.follow', following_id = user.id)}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="submit" value="Follow" class="btn btn-primary" style="margin-top:10px;"/>
          </form>
          {% endif %}
        {% endif %}
    </div>
 
    <br></br>
    {% if user.id==current_user.id %}
    <form action="{{ url_for('images.upload_user_image', id=user.id) }}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        <label for="user_image">Upload Images</label>
            <br></br>
            <input type="file" name="user_image">
            <br></br>
        <button class="btn btn-primary"type="submit">Upload</button>
    </form>
    {% endif %}   
    <br></br>

    <ul>
      <h5>{{user.username}}'s followings</h5>
      {% for following in user.get_followings %}
        <li>{{following.username}}</li>
      {% endfor %}
    </ul>
    <br></br>
    <ul>
      <h5>{{user.username}}'s followers</h5>
      {% for user in user.get_followers %}
        <li>{{user.username}}</li>
      {% endfor %}
    </ul>

    <div style="margin-bottom: 20px; margin-top:20px;" class="container d-flex flex-wrap">
        {% for image in user.images %}
        <div class="card d-flex flex-col align-items-center" style="width: 300px; margin:10px;">
          <img src="{{image.full_image_path}}" style="height: 200px; width: 200px; margin:10px;" class="card-img-top"/>
          <div class="card-body">
            <p class='card-text'>Donations Received: {{ image.donations | sum(attribute="amount") }}</p>
            <a href="{{url_for('donations.new', image_id=image.id)}}"> <button class="btn btn-primary mx-auto" style="margin-bottom: 10px;" type="button">Donate</button></a>               
          </div>
        </div>
        {% endfor %}  
    </div>


</div>

{% endblock %}