{% extends "_layout.html" %}

{% block title %}
  Homepage
{% endblock %}


{% block content %}
  <h1>Hello!</h1>

{% if current_user.is_authenticated %}
  <h1>Logged in as user {{current_user.username}}</h1>
{% endif %}

  <h4>All Users:</h4>
  {% for user in users %}
    <li>
      <a href="{{url_for('users.show', username=user.username)}}">{{user.username}}</a>
    </li>
    {% for image in user.images %}
    <img src="{{image.full_image_path}}" style="height: 200px; width: 200px;"/>
    {% endfor %}
  {% endfor %}

{% endblock %}

